* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #70aefa, #8384b3);
}

img {
    max-width: 95%;
}

a {
    text-decoration: none;
}

.navegador {
    display: flex;
    background-color: #00000011;
    text-align: left;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navegador__info {
    flex-wrap: wrap;
    word-spacing: 5px;
    margin: auto 0;
}

.navegador__info-a {
    color: #0b3964;
    font-size: 2rem;
}

.navegador__imagen {
    width: 15rem;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__img {
    text-align: center;
}

.header__tittle {
    font-size: 2rem;
    text-align: center;
}

.about__us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__us-video {}

.about__us-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about__us-info h2 {
    text-align: center;
    font-size: 3rem;
    width: 35rem;
}

.about__us-info p {
    margin-top: 0;
    font-size: 18px;
    width: 35rem;
    margin-bottom: 0;
}

.microsoft__tittle {
    width: 95%;
    
    align-items: center;
    margin: 0 auto;
    font-size: 10rem;
    color: #70aefa21;
    text-align: center;
    position: relative;
    
    
}
.microsoft__tittle-info {
    color: #000000;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 15%;
    
    
}