* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #70aefa, #8384b3);
}

img {
    max-width: 95%;
}

a {
    text-decoration: none;
}

.navegador {
    display: flex;
    background-color: #ffffffa2;
    text-align: left;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navegador__info {
    flex-wrap: wrap;
    word-spacing: 5px;
    margin: auto 0;
}

.navegador__info-a {
    color: #0b3964;
    font-size: 2rem;
}

.navegador__imagen {
    width: 15rem;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header__img {
    text-align: center;
}

.header__tittle {
    font-size: 2rem;
    text-align: center;
}

.about__us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__us-video {}

.about__us-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about__us-info h2 {
    text-align: center;
    font-size: 3rem;
    width: 35rem;
}

.about__us-info p {
    margin-top: 0;
    font-size: 18px;
    width: 35rem;
    margin-bottom: 0;
}

.middleg {
    display: flex;
    margin: 0 auto;
    width: 95%;
}

.microsoft__tittle {
    width: 95%;
    align-items: center;
    margin: auto 0;
    font-size: 10rem;
    color: #70aefa21;
    text-align: center;
    left: 1%;
}

.microsoft__tittle-info {
    margin: 0 auto;
    color: #000000;
    font-size: 2rem;
    top: 28%;
    left: 10%;
}

.global__container {
    display: flex;
    flex-direction: row;
}

.global {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
    
}
.global__imagen{
   margin: auto 0;
   width: 50rem;
   
}
.global__info {
    
   flex-wrap: wrap;
   width: 80rem;
}
.global__info h3 {
 font-size: 3rem;
}
.global__info-icon {
    display: flex;
    flex-direction: row;
}
.global__info-icon p {
    font-size: 2rem;
}
.global__info-icon img {
    width: 10rem;
}
.buton {
    display: flex;
    flex-direction: column;
    margin-left: 95rem;
}

.buton img{
    width: 35rem;
}
.buton button{
    border: none;
    text-transform: uppercase;
    border-radius: 1rem;
    background: linear-gradient(to right, #000dc4a4, #0db8ec8f);
    width: 35rem;
    height: 3rem;
}
.buton button:hover{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
    background: linear-gradient(to right,  #0db8ec8f,#000dc4a4);
    width: 35rem;
    height: 3rem;
}
.ourEx {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}
.ourEx__img {
    width: 55rem;
    margin:auto 0;
}
.ourEx__img {
 font-size: 2rem;
}
.outEx__button {
    display: flex;
    height: 4rem;
    
}
.outEx__button button {
    margin: 0 auto;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
    background: linear-gradient(to right,  #0db8ec8f,#000dc4a4);
    width: 15rem;
    height: 4rem;
}
.outEx__button button:hover {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
    background: linear-gradient(to right,  #000dc4a4,#0db8ec8f);
    width: 15rem;
    height: 4rem;
}
.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to top, #072e5a,#0e6cc4);
    width: 90%;
    height: 65rem;
    margin: 0 auto;
    border-radius: 15px;
    
}
.services__container-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 55rem;
    height: 25rem;
    margin: 0 auto;
    grid-gap: 5rem;
    
}
.services__container-info img {
    height: 10rem;
    margin: auto  0;
}
.services__container-info-p h3  {
    font-size: 2rem;
}
.services__container-info-p p {
    font-size: 1.5rem;
}
.ally {
    display: flex;
    flex-direction: row;
 
}
.ally__img {
    width: 50%;
    display: flex;
    justify-content:center;
    margin: auto 0 ;
}
.ally__img img{
    width: 62%;
    
}
.conctacUs {
    
    display: flex;
    margin: auto 0;
    justify-content: space-around;
    flex-direction: row;
}
.call svg {
    width: 5rem;
}
.mail svg {
    margin: auto 0;
}
.call {
    display: flex;
    width: 15rem;
    
    margin-left: 55rem;
    justify-content: space-around;
}
.mail{
    display: flex;
    width: 15rem;
    justify-content: space-around;
    
    margin-right: 55rem;   
}
.call p{
    margin: auto 0;
}
.mail p{
    margin: auto 0;
}
.submit {
    
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 1rem;
    background: linear-gradient(to right,  #0db8ec8f,#000dc4a4);
    width: 15rem;
    height: 4rem;
}
.form{

    margin: 0 auto;
    text-align: center;
    width: 95%;
}
.form p {
    font-size: 1.5rem;
}
.form input {
    width: 100%;
    height: 3rem;
    border: none;
    background: linear-gradient(to top, #5860c4a4,#323885a4 );
}
.form #message {
    height: 15rem;
}
.mapa {
    display: flex;
    flex-direction: column;
    text-align: center;    
}
.mapa__containr h2 {
    font-size: 3rem;
}
.directions__world {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}
.directions__world-pais img {
    width: 15rem;
    margin: 0 auto;
}
.directions__world-pais p {
    width: 15rem;
    font-size: 1.5rem;
    margin: 0 auto;
}
.facebook {
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 5rem 0 5rem 0;
    
}
.facebook svg {
    color: #000000;
}